@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .tooltip-aftr {
    @apply after:hidden after:hover:block after:opacity-0 after:hover:opacity-90 after:transition-opacity after:py-1 after:px-2 after:absolute after:bg-gray-500 after:bg-gradient-to-br from-cyan-500 to-blue-500 after:rounded;
  }
}
